<link rel="stylesheet" href="https://static.xamh.de/videojs/video.js/video-js.css?v=<%= ASSET_COMMIT %>">
<link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-http-source-selector/videojs-http-source-selector.css?v=<%= ASSET_COMMIT %>">
<link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-markers/videojs.markers.css?v=<%= ASSET_COMMIT %>">
<link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-share/videojs-share.css?v=<%= ASSET_COMMIT %>">
<link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-vtt-thumbnails/videojs-vtt-thumbnails.css?v=<%= ASSET_COMMIT %>">
<link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-mobile-ui/videojs-mobile-ui.css?v=<%= ASSET_COMMIT %>">
<link rel="stylesheet" href="https://static.xamh.de/css/player.css?v=<%= ASSET_COMMIT %>">

<script src="https://static.xamh.de/videojs/video.js/video.js?v=<%= ASSET_COMMIT %>"></script>
<script src="https://static.xamh.de/videojs/videojs-mobile-ui/videojs-mobile-ui.js?v=<%= ASSET_COMMIT %>"></script>
<script src="https://static.xamh.de/videojs/videojs-contrib-quality-levels/videojs-contrib-quality-levels.js?v=<%= ASSET_COMMIT %>"></script>
<script src="https://static.xamh.de/videojs/videojs-http-source-selector/videojs-http-source-selector.js?v=<%= ASSET_COMMIT %>"></script>
<script src="https://static.xamh.de/videojs/videojs-markers/videojs-markers.js?v=<%= ASSET_COMMIT %>"></script>
<script src="https://static.xamh.de/videojs/videojs-share/videojs-share.js?v=<%= ASSET_COMMIT %>"></script>
<script src="https://static.xamh.de/videojs/videojs-vtt-thumbnails/videojs-vtt-thumbnails.js?v=<%= ASSET_COMMIT %>"></script>


<% if params.annotations %>
    <link rel="stylesheet" href="https://static.xamh.de/css/videojs-youtube-annotations.min.css?v=<%= ASSET_COMMIT %>">
    <script src="https://static.xamh.de/js/videojs-youtube-annotations.min.js?v=<%= ASSET_COMMIT %>"></script>
<% end %>

<% if params.listen || params.quality != "dash" %>
    <link rel="stylesheet" href="https://static.xamh.de/css/quality-selector.css?v=<%= ASSET_COMMIT %>">
    <script src="https://static.xamh.de/js/silvermine-videojs-quality-selector.min.js?v=<%= ASSET_COMMIT %>"></script>
<% end %>

<% if !params.listen && params.vr_mode %>
    <link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-vr/videojs-vr.css?v=<%= ASSET_COMMIT %>">
    <script src="https://static.xamh.de/videojs/videojs-vr/videojs-vr.js?v=<%= ASSET_COMMIT %>"></script>
<% end %>
