<!DOCTYPE html>
<html lang="<%= env.get("preferences").as(Preferences).locale %>">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="thumbnail" content="<%= thumbnail %>">

    <script src="https://static.xamh.de/videojs/video.js/video.js?v=<%= ASSET_COMMIT %>"></script>
    <script src="https://static.xamh.de/videojs/videojs-mobile-ui/videojs-mobile-ui.js?v=<%= ASSET_COMMIT %>"></script>
    <script src="https://static.xamh.de/videojs/videojs-contrib-quality-levels/videojs-contrib-quality-levels.js?v=<%= ASSET_COMMIT %>"></script>
    <script src="https://static.xamh.de/videojs/videojs-http-source-selector/videojs-http-source-selector.js?v=<%= ASSET_COMMIT %>"></script>
    <script src="https://static.xamh.de/videojs/videojs-markers/videojs-markers.js?v=<%= ASSET_COMMIT %>"></script>
    <script src="https://static.xamh.de/videojs/videojs-share/videojs-share.js?v=<%= ASSET_COMMIT %>"></script>
    <script src="https://static.xamh.de/videojs/videojs-vtt-thumbnails/videojs-vtt-thumbnails.js?v=<%= ASSET_COMMIT %>"></script>


    <% if params.annotations %>
        <link rel="stylesheet" href="https://static.xamh.de/css/videojs-youtube-annotations.min.css?v=<%= ASSET_COMMIT %>">
        <script src="https://static.xamh.de/js/videojs-youtube-annotations.min.js?v=<%= ASSET_COMMIT %>"></script>
    <% end %>

    <% if params.listen || params.quality != "dash" %>
        <link rel="stylesheet" href="https://static.xamh.de/css/quality-selector.css?v=<%= ASSET_COMMIT %>">
        <script src="https://static.xamh.de/js/silvermine-videojs-quality-selector.min.js?v=<%= ASSET_COMMIT %>"></script>
    <% end %>

    <% if !params.listen && params.vr_mode %>
        <link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-vr/videojs-vr.css?v=<%= ASSET_COMMIT %>">
        <script src="https://static.xamh.de/videojs/videojs-vr/videojs-vr.js?v=<%= ASSET_COMMIT %>"></script>
    <% end %>
    
    <link rel="stylesheet" href="https://static.xamh.de/videojs/videojs-overlay/videojs-overlay.css?v=<%= ASSET_COMMIT %>">
    <script src="https://static.xamh.de/videojs/videojs-overlay/videojs-overlay.js?v=<%= ASSET_COMMIT %>"></script>
    <link rel="stylesheet" href="https://static.xamh.de/css/default.css?v=<%= ASSET_COMMIT %>">
    <link rel="stylesheet" href="https://static.xamh.de/css/embed.css?v=<%= ASSET_COMMIT %>">
    <title><%= HTML.escape(video.title) %> - Invidious</title>
    <script src="https://static.xamh.de/js/_helpers.js?v=<%= ASSET_COMMIT %>"></script>
</head>

<body class="dark-theme">
<script id="video_data" type="application/json">
<%=
{
    "id" => video.id,
    "index" => continuation,
    "plid" => plid,
    "length_seconds" => video.length_seconds.to_f,
    "video_series" => video_series,
    "params" => params,
    "preferences" => preferences,
    "premiere_timestamp" => video.premiere_timestamp.try &.to_unix,
    "local_disabled" => CONFIG.disabled?("local")
}.to_pretty_json
%>
</script>

<%= rendered "components/player" %>
<script src="https://static.xamh.de/js/embed.js?v=<%= ASSET_COMMIT %>"></script>
</body>
</html>
